@model IEnumerable<TravelSmart.Models.GIAITRI>
@{
    ViewBag.Title = "GIAITRI";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/CSS/index.css" rel="stylesheet" />
<h2>CHUYÊN MỤC GIẢI TRÍ </h2>

<div class="row-test-center">
    @foreach (var gt in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="border">
                <div class="product-top">
                    <img src="~/Images/GIAITRI/@gt.ANH_GT" />

                    <div class="tendd text-center">
                        <h3>
                            <a href="#">

                                @gt.Ten_GT
                            </a>
                        </h3>
                    </div>
                    <a href="@Url.Action("ChiTietGIAITRI","Travel", new { id = gt.Ma_GT })" class="xem-ngay">XEM THÊM</a>
                </div>
            </div>



        </div>}
</div>

