
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    h2{
        color:red;
    }
</style>
<h2>Giới Thiệu TravelSmart</h2>
<div class="text">
    <p>
        Travelmart là website danh bạ và kết nối du lịch Việt Nam.
    </p>
    <hr />
    <p>Travelmart.vn được định hướng hỗ trợ:</p>   

    <p>
        - Kết nối giữa các doanh nghiệp hoạt động, kinh doanh trong lĩnh vực du lịch nói chung với nhau (Khách sạn – nhà hàng – bán tour – cho thuê xe…) để sử dụng dịch vụ chéo, tận dụng các cơ hội hỗ trợ nhau trong hoạt động.
        Các doanh nghiệp sẽ tìm kiếm những đối tác có chung cấp độ, đặc trưng, bản sắc, mức chi trả... để liên kết thành chuỗi dịch vụ tại địa phương mình hoặc tại các điểm du lịch khác trên toàn quốc.
    </p>  
    <p>
        - Doanh nghiệp quảng bá thương hiệu, sản phẩm, dịch vụ của mình và kết nối với người tiêu dùng trực tiếp là khách du lịch trong và ngoài nước.
    </p>   
    <p>- Doanh nghiệp tìm kiếm khách hàng trực tiếp, giảm các chi phí hoa hồng.</p>    

        Đặc trưng của Travelmart.vn là mỗi doanh nghiệp, đơn vị kinh doanh sẽ sở hữu 1 gian bán hàng riêng - được quảng bá, chào bán tất cả các sản phẩm, dịch vụ - được tìm kiếm đối tác, quản lý đối tác, bán hàng cho đối tác để có thêm nguồn thu và làm đa dạng dịch vụ của đơn vị mình.
   
</div>

