
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="color:red">XÁC NHẬN ĐƠN HÀNG</h2>
<h4>
    Đơn hàng của quý khách đã được chúng tôi ghi nhận,
    chúng tôi sẽ liên hệ quý khách để thông báo thời gian chuẩn bị
    khởi hành.
</h4>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Travel")
</p>
